#container {
    width:1000px;
    height: 660px;
    margin: 20px auto 0px auto;
    background-color: grey;
    opacity: 0.5;
    position: relative;
    background-image: url("../images/world-map.jpg");
    background-size: 100%;
    font-family: 'Old Standard TT', serif;
    color: black;
}

#start-cont {
    position: absolute;
    top:40%;
    left:40%;

}

#start {
    border-radius: 20px;
    padding: 10px;
    font-size: 36px;
    font-family: 'Old Standard TT', serif;
    background-color: lightblue;
}

.game-play {

}

#answers div:hover {
    cursor: pointer;
    border: 2px solid black
}

button:hover {
    cursor: pointer;
}